<h1>Страница ввода N</h1>
<%= form_tag("/calc/view.x", :method => "get") do %>
<%= label_tag("Введите число n:") %>
<%= number_field_tag(:less_than_number, nil, min: 1) %> <br/>
<%= submit_tag("Find palindroms") %>
<% end %>
<%= link_to "Show XML", calc_xml_path %>
